extends layout

block content

  h1 Category: #{category.name}

  div(class="detail_container")
    br
    p #[strong Name: ] #{category.name}
    br
    p #[strong Description: ] #{category.description}

    div(class="detail_buttons")
        button 
            a(href=category.url+'/delete') Delete category
        button
            a(href=category.url+'/update') Update category